.flipbox {
    position: relative;
    text-align: center
}

.back {
    /*background: rgba(0, 0, 0, .9);*/
    color: #FFF;
    text-align: left;
    font-size: 28px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.back:hover {
    opacity: .95;
}

img.member-img {
    width: 250px;
}

.back h1 {
    /*font-size: 36px; */
}